:root{
    --bs-secondary-rgb: 44, 62, 80;
    --bs-success-rgb: 26, 188, 156;
    --bs-light-rgb: 58, 84, 109;
}

.avatar{
    height: 250px;
}

.img-width{
    max-width: 100%;
}

.margin-negative{
    margin-right: -10px;
}

.submit-btn{
    width: 90px;
}

.link-green, .link-green:hover{
    text-decoration: none;
    color: rgb(26, 188, 156);
}

.socialLink{
    width: 40px;
    height: 40px;
    border: 1px solid white;
    padding: 9px;
    border-radius: 50%;
}