:root{
    --bs-secondary-rgb: 44, 62, 80;
    --bs-success-rgb: 26, 188, 156;
    --bs-light-rgb: 58, 84, 109;
}

.avatar{
    height: 250px;
}

.img-width{
    max-width: 100%;
    border-radius: 15px;
}

.margin-negative{
    margin-right: -10px;
}

.description{
    display: none;
}

.description-container:hover .description{
    display: inline-block;
    width: 100%;
    height: 100%;
    color: white;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 15px;
    position: absolute;
    top: 0;
    left: 0;
}

.description-text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.submit-btn{
    width: 90px;
}

.link-green, .link-green:hover{
    text-decoration: none;
    color: rgb(26, 188, 156);
}

.socialLink{
    width: 40px;
    height: 40px;
    border: 1px solid white;
    padding: 9px;
    border-radius: 50%;
}

.fb:hover{
    color: rgb(78, 103, 165);
    border-color: rgb(78, 103, 165);
}

.gp:hover{
    color: rgb(88, 165, 92);
    border-color: rgb(88, 165, 92);
}

.tw:hover{
    color: rgb(107, 163, 209);
    border-color: rgb(107, 163, 209);
}

.in:hover{
    color:rgb(49, 118, 176);
    border-color: rgb(49, 118, 176);;
}